mj-section(padding="0 5%")
    mj-column(padding="35px 30px" background-color="#eaeaea")
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T50 fw1") Amenities & Services
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw1 cTB") #[span(style="font-size:20px") &#9679;]&nbsp;&nbsp;Library, study area and meeting rooms
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw1 cTB") #[span(style="font-size:20px") &#9679;]&nbsp;&nbsp;Games room, indoor and outdoor cinemas
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw1 cTB") #[span(style="font-size:20px") &#9679;]&nbsp;&nbsp;Gymnasiums, fitness studios, yoga deck, pilates studio
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw1 cTB") #[span(style="font-size:20px") &#9679;]&nbsp;&nbsp;Saunas, ice baths and therapy chambers
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw1 cTB") #[span(style="font-size:20px") &#9679;]&nbsp;&nbsp;25m pool, jacuzzis, infinity pool and experiential showers
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw1 cTB") #[span(style="font-size:20px") &#9679;]&nbsp;&nbsp;Lounges, sun decks and gardens
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw1 cTB") #[span(style="font-size:20px") &#9679;]&nbsp;&nbsp;Dining areas and refreshment bars
        mj-text(padding="0" padding-top="5px" mj-class="T16 fw1 cTB") #[span(style="font-size:20px") &#9679;]&nbsp;&nbsp;24/7 concierge, à la carte services and exclusive owners' community
        mj-text(padding="0" padding-top="35px" padding-bottom="20px" mj-class="T16 fw1 cTB") Overlooking Palm Jumeirah, Dubai Harbour Beachfront, Emirates Golf Course, Dubai Marina, Blue Waters, and Ain Dubai, owners can enjoy a lifestyle like no other with a range of first-class amenities and services.
mj-section(padding="0px")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/logoSelectGroup.png")/
        mj-button(padding="0 5%" width="100%" inner-padding="12px 15px" mj-class="T26 fw1 cTW bgGB" text-transform="uppercase" letter-spacing="2px" border-radius="0" target="_blank" href="#") enquire now