mj-section
    mj-column
        mj-text Amenities & Services
        mj-text Library, study area and meeting rooms
        mj-text Games room, indoor and outdoor cinemas
        mj-text Gymnasiums, fitness studios, yoga deck, pilates studio
        mj-text Saunas, ice baths and therapy chambers
        mj-text 25m pool, jacuzzis, infinity pool and experiential showers
        mj-text Lounges, sun decks and gardens
        mj-text Dining areas and refreshment bars
        mj-text 24/7 concierge, à la carte services and exclusive owners' community
        mj-text Overlooking Palm Jumeirah, Dubai Harbour Beachfront, Emirates Golf Course, Dubai Marina, Blue Waters, and Ain Dubai, owners can enjoy a lifestyle like no other with a range of first-class amenities and services.
        mj-divider
        mj-image(src="images/logoSelectGroup.png")/
        mj-button enquire now