mj-section
    mj-column(width="100%" background-color="#eaeaea")
        mj-text(padding="0" align="center" mj-class="T18") Reach People Direct, Dubai, UAE.
    mj-column(width="100%")
        mj-text(padding="0" align="center" mj-class="T16" text-transform="uppercase") rpd 2
        mj-text(padding="0" align="center" mj-class="T16" text-transform="uppercase") shk zyd road
        mj-text(padding="0" align="center" mj-class="T16") Dubai 116373
        mj-text(padding="0" align="center" mj-class="T16") United Arab Emirates
        mj-text(padding="0" align="center" mj-class="T12") You are subscribed to this email as contact@ecosup-sante.fr
        mj-text(padding="0" align="center" mj-class="T12") Click here to modify your preferences or unsubscribe