mj-section(padding-top="45px")
    mj-column(padding-top="35px" padding-bottom="5px" width="100%" background-color="#eaeaea")
        mj-text(padding="0" align="center" mj-class="T18 cTGB") Reach People Direct, Dubai, UAE.
    mj-column(padding="10px 0" width="100%")
        mj-text(padding="0" align="center" mj-class="T16 fw0 cTGB" text-transform="uppercase") rpd 2
        mj-text(padding="0" align="center" mj-class="T16 fw0 cTGB" text-transform="uppercase") shk zyd road
        mj-text(padding="0" align="center" mj-class="T16 fw0 cTGB") Dubai 116373
        mj-text(padding="0" align="center" mj-class="T16 fw0 cTGB") United Arab Emirates
    mj-column(width="100%")
        mj-text(padding="0" align="center" mj-class="T12 fw0" color="#666666") You are subscribed to this email as contact@ecosup-sante.fr
        mj-text(padding="0" align="center" mj-class="T12 fw0" color="#666666") Click here to modify your preferences or unsubscribe