mj-section(background-color="#212121" padding="0 35px")
    mj-column
        mj-divider(padding="0" border-color="#eeeeee" border-style="solid" border-width="1px" width="100%")
        mj-text(padding="0" align="center" mj-class="T28 cTW") Own a Beachfront Property in Dubai
        mj-divider(padding="0" border-color="#eeeeee" border-style="solid" border-width="1px" width="100%")
        mj-text(padding="0" align="center" mj-class="T22 cTW") Six Senses Residences - Dubai Marina
mj-section(background-color="#212121" padding="0 35px")
    mj-column(padding="4px")
        mj-text(padding="0"  align="center" mj-class="T36" color="#EEF1F5" container-background-color="#5A5656") 122
        mj-text(padding="0" align="center" mj-class="T15" color="#EEF1F5" container-background-color="#5A5656") Storey Tower
    mj-column(padding="4px")
        mj-text(padding="0" align="center" mj-class="T36" color="#EEF1F5" container-background-color="#5A5656") 10%
        mj-text(padding="0" align="center" mj-class="T15" color="#EEF1F5" container-background-color="#5A5656") Rental
    mj-column(padding="4px" )
        mj-text(padding="0" align="center" mj-class="T36" color="#EEF1F5" container-background-color="#5A5656") 20-80
        mj-text(padding="0" align="center" mj-class="T15" color="#EEF1F5" container-background-color="#5A5656") Payment Plan
mj-section(background-color="#212121" padding="0 35px")
    mj-column
        mj-button(padding="0" inner-padding="12px 45px" background-color="#ffffff" color="#212121" mj-class="T20 fw1" text-transform="uppercase" letter-spacing="2px" border-radius="0" target="_blank" href="#") register your interest >>
        mj-button(padding="0" inner-padding="12px 15px" background-color="#ffffff" color="#212121" mj-class="T14 fw1" text-transform="uppercase" letter-spacing="2px" border-radius="0" target="_blank" href="#") world's most desirable locations
        mj-divider(padding="0" border-color="#eeeeee" border-style="solid" border-width="1px" width="100%")