mj-section
    mj-column
        mj-text Own a Beachfront Property in Dubai
        mj-divider
        mj-text Six Senses Residences - Dubai Marina
mj-section
    mj-column(padding="3,5px" background-color="#5A5656")
        mj-text(padding="0" align="center" mj-class="T36") 122
        mj-text(padding="0" align="center" mj-class="T15") Storey Tower
    mj-column(padding="3,5px" background-color="#5A5656")
        mj-text(padding="0" align="center" mj-class="T36") 10%
        mj-text(padding="0" align="center" mj-class="T15") Rental
    mj-column(padding="3,5px" background-color="#5A5656")
        mj-text(padding="0" align="center" mj-class="T36") 20-80
        mj-text(padding="0" align="center" mj-class="T15") Payment Plan
mj-section
    mj-column
        mj-button register your interest >>
        mj-button world's most desirable locations
        mj-divider