mj-section(background-color="#212121" padding="0 35px")
    mj-column
        mj-divider(padding="0" border-color="#eeeeee" border-style="solid" border-width="1px" width="100%")
        mj-text(padding="0" align="center" mj-class="T28 cTW") Own a Beachfront Property in Dubai
        mj-divider(padding="0" border-color="#eeeeee" border-style="solid" border-width="1px" width="100%")
        mj-text(padding="0" align="center" mj-class="T22 cTW") Six Senses Residences - Dubai Marina
mj-section(background-color="#212121" padding="0 35px")
    mj-column(padding="4px")
        mj-text(padding="0"  align="center" mj-class="T36" color="#EEF1F5" container-background-color="#5A5656") 122
        mj-text(padding="0" align="center" mj-class="T15" color="#EEF1F5" container-background-color="#5A5656") Storey Tower
    mj-column(padding="4px")
        mj-text(padding="0" align="center" mj-class="T36" color="#EEF1F5" container-background-color="#5A5656") 10%
        mj-text(padding="0" align="center" mj-class="T15" color="#EEF1F5" container-background-color="#5A5656") Rental
    mj-column(padding="4px" )
        mj-text(padding="0" align="center" mj-class="T36" color="#EEF1F5" container-background-color="#5A5656") 20-80
        mj-text(padding="0" align="center" mj-class="T15" color="#EEF1F5" container-background-color="#5A5656") Payment Plan
mj-section(background-color="#212121" padding="0 35px")
    mj-column
        mj-button register your interest >>
        mj-button world's most desirable locations
        mj-divider(padding="0" border-color="#eeeeee" border-style="solid" border-width="1px" width="100%")