mj-section
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/dubai.jpg" alt="")/
        mj-text Enjoy a lifestyle like no other
        mj-text Introducing Six Senses Residences Dubai Marina, a 122-storey tower that is the ultimate residential destination in one of the world's most desirable locations.
        mj-text Overlooking Palm Jumeirah, Dubai Harbour Beachfront, Emirates Golf Course, Dubai Marina, Blue Waters, and Ain Dubai, owners can enjoy a lifestyle like no other with a range of first-class amenities and services.
        mj-button enquire now
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/grandImmo.jpg" alt="")/
        mj-image(padding="0" width="600px" src="images/petitImmo1.jpg" alt="")/
        mj-image(padding="0" width="600px" src="images/petitImmo2.jpg" alt="")/