mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/dubai.jpg" alt="")/
mj-section(padding="0 30px")
    mj-column(width="100%" background-color="#212121" padding="0 41px")
        mj-text(padding="35px 0" align="center" mj-class="T60 cTW fw0") Enjoy A lifestyle Like No Other
        mj-divider(padding="0" width="80px" border-style="solid" border-width="1px" border-color="#ffffff")
        mj-text(padding="0" padding-top="35px" padding-bottom="15px" align="center" mj-class="T16 cTW fw0") Introducing Six Senses Residences Dubai Marina, a 122-storey tower that is the ultimate residential destination in one of the world's most desirable locations.
        mj-text(padding="0" padding-bottom="15px" align="center" mj-class="T16 cTW fw0") Overlooking Palm Jumeirah, Dubai Harbour Beachfront, Emirates Golf Course, Dubai Marina, Blue Waters, and Ain Dubai, owners can enjoy a lifestyle like no other with a range of first-class amenities and services.
        mj-button(padding="0" padding-top="32px" padding-bottom="41px" width="100%" inner-padding="12px 15px" background-color="#ffffff" color="#212121" mj-class="T26 fw1" text-transform="uppercase" letter-spacing="2px" border-radius="0" target="_blank" href="#") enquire now
mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/grandImmo.jpg" alt="")/
        mj-image(padding="0" width="600px" src="images/petitImmo1.jpg" alt="")/
        mj-image(padding="0" width="600px" src="images/petitImmo2.jpg" alt="")/