mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/dubai.jpg" alt="")/
mj-section(padding="0 30px")
    mj-column(width="100%" background-color="#212121" padding="0 41px")
        mj-text(padding="0" align="center" mj-class="T60" color="#ffffff") Enjoy A lifestyle Like No Other
        mj-text(padding="0" align="center" mj-class="T16" color="#ffffff") Introducing Six Senses Residences Dubai Marina, a 122-storey tower that is the ultimate residential destination in one of the world's most desirable locations.
        mj-text(padding="0" align="center" mj-class="T16" color="#ffffff") Overlooking Palm Jumeirah, Dubai Harbour Beachfront, Emirates Golf Course, Dubai Marina, Blue Waters, and Ain Dubai, owners can enjoy a lifestyle like no other with a range of first-class amenities and services.
        mj-button enquire now
mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="600px" src="images/grandImmo.jpg" alt="")/
        mj-image(padding="0" width="600px" src="images/petitImmo1.jpg" alt="")/
        mj-image(padding="0" width="600px" src="images/petitImmo2.jpg" alt="")/