mjml
    //- Head
    mj-head
        mj-title Six Senses Campaign
        mj-font(name="Philosopher" href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap")/
        mj-raw.
            <meta charset="UTF-8">
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='"Philosopher", Arial, Helvetica, sans-serif')/
            //- font-size / line-height
            mj-class(name='T50' font-family='"Philosopher", Arial, Helvetica, sans-serif' font-style="normal" font-size='50px' line-height='58px')/
            mj-class(name='T16' font-family='"Philosopher", Arial, Helvetica, sans-serif' font-style="normal" font-size='16px' line-height='24px')/
           
            mj-class(name='T18' font-family='"Philosopher", Arial, Helvetica, sans-serif' font-style="normal" font-size='18px' line-height='22px')/
            mj-class(name='T17' font-family='"Philosopher", Arial, Helvetica, sans-serif' font-style="normal" font-size='17px' line-height='21px')/
            mj-class(name='T14' font-family='"Philosopher", Arial, Helvetica, sans-serif' font-style="normal" font-size='14px' line-height='18px')/
            mj-class(name='T12' font-family='"Philosopher", Arial, Helvetica, sans-serif' font-style="normal" font-size='12px' line-height='16px')/
            mj-class(name='T10' font-family='"Philosopher", Arial, Helvetica, sans-serif' font-style="normal" font-size='10px' line-height='14px')/
            //- font-weight
            mj-class(name="fw0" font-weight="400")/
            mj-class(name="fw1" font-weight="900")/
            mj-class(name="fw2" font-weight="700")/
            //- composant
            mj-button(padding="0" font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size="16px" line-height="20px" font-weight="700" color="#ffffff" background-color="#B59F6B" border-radius="4px" text-transform="uppercase")
            //- color
            mj-class(name="cTW" color="#ffffff")/
            mj-class(name="bgW" background-color="#ffffff")/
            mj-class(name="cTB" color="#000000")/
            mj-class(name="bgB" background-color="#000000")/
        mj-breakpoint(width="480px")
    //- Body
    mj-body(background-color='#f5f4f1' width="600px")
        //- content
        block content
        //- bloc header
        block header
            include ../includes/_header
        //- bloc menu offre
        block offre
            include ../includes/_offre
        //- bloc Menu arguments
        block arg
            include ../includes/_argu
        //-bloc footer
        block footer
            include ../includes/_footer