extends templates/_layout
block content 
    mj-section(padding="20px" padding-bottom="10px" background-color="#212121")
        mj-column
            mj-text(padding="0" align="center" mj-class="T14 fw0" line-height="18px" color="#ffffff") Having trouble seeing the below email? #[a(style="color:#ffffff" href="#") Click here to view it in your browser]