extends templates/_layout
block content 
    mj-section(padding="0 20px" mj-class="bgB")
        mj-column
            mj-text(padding="12px 0" align="center" mj-class="T14 fw0 cTW") Having trouble seeing the below email? #[a(style="color:#ffffff" href="#") Click here to view it in your browser]