extends templates/_layout
block content 
    mj-section(padding="20px" padding-bottom="10px")
        mj-column
            mj-text(padding="0" align="center" mj-class="T14" color="#888888") Si vous ne parvenez pas à lire cet email, #[a(style="color:#888888" href="#") cliquez ici]